h1{
    color:white;
    text-transform: uppercase;
    margin-left: 20px;
}

.off{
    color:#888;
}

h4{
    text-transform: uppercase;
}

body{
    
        background-color:#444;
    }
}

.text {
    margin: 20px;
}
.project{
    width: 99%;
    margin: 20px;
    padding: 10px;
    color: steelgray;
}


a, a:link, a:visited, a:hover, a:active {
    color: white;
}
#deeds, #roads, #itinerary{
    background: #5872a2;
    color: white;
    a, a:link, a:visited, a:hover, a:active {
    color: white;
}
}


#land, #trip, #census{
    background: #bac8e0;
    color: #5872a2;
    a, a:link, a:visited, a:hover, a:active {
    color: 5872a2;
}
}


.slide {
    img{height:40%;}
}


.im {
    padding:4px;
}

.text-box{
    background-color:white;
    margin:20px;
    padding:20px;
    font-size: 150%;
    }

.small{font-size: 100%;
    margin:3px;}

.empty{
    margin:20px;
    padding:20px;
    font-size: 150%;
    }

.head4{
        text-transform: uppercase;
        margin:20px;
    }

.next,.back{
    color:white;
    text-transform: uppercase;
    background-color: #444;
    padding:20px;
}