/*
 * Media queries
 */
@screen-medium-above: ~"screen and (min-width: 651px)";
@screen-mobile-above: ~"screen and (min-width: 501px)";
@screen-mobile: ~"screen and (max-width: 500px)";

/*
 * Colors
 */
@red1       : #6C2315;
@red2       : #A23520;
@red3       : #D8472B;
@red4       : #E27560;
@red5       : #ECA395;
@red6       : #F5D1CA;

@orange1    : #714616;
@orange2    : #AA6A21;
@orange3    : #E38D2C;
@orange4    : #EAAA61;
@orange5    : #F1C696;
@orange6    : #F8E2CA;

@yellow1    : #77631B;
@yellow2    : #B39429;
@yellow3    : #EFC637;
@yellow4    : #F3D469;
@yellow5    : #F7E39B;
@yellow6    : #FBF1CD;

@teal1      : #0B403F;
@teal2      : #11605E;
@teal3      : #17807E;
@teal4      : #51A09E;
@teal5      : #8BC0BF;
@teal6      : #C5DFDF;

@blue1      : #28556F;
@blue2      : #3D7FA6;
@blue3      : #51AADE;
@blue4      : #7DBFE6;
@blue5      : #A8D5EF;
@blue6      : #D3EAF7;

/*
 * Fonts
 */
.gotham() {
    font-family: 'Gotham SSm',Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-weight: 400;
}

// Normal Knockout
.knockout() {
    font-family: 'Knockout 31 4r','Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: normal;
}

// Knockout, uppercased
.knockout-upper() {
    .knockout();
    text-transform: uppercase;
}

// Knockout for headings
.knockout-header() {
    .knockout-upper();
    letter-spacing: 0.05em;
    -webkit-font-smoothing: antialiased;
}

.sans-serif() {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

/*
 * Mixins
 */
.clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

/*
 * Base styles
 */
html { -webkit-text-size-adjust: none; }

body {
    margin: 0;
    padding: 33px 0;
    font: 14px/1.4 Helvetica, Arial, sans-serif;
    color: #555;
}

h1 {
    margin: 0 0 33px 0;
    font-size: 20px;
    color: #666;
    font-family: 'Gotham SSm',Helvetica,Arial,sans-serif;
    font-weight: normal;
    line-height: 1.3;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

h2 {
    font-weight: normal;
    color: #777;
    font-size: 12px;
    margin: -22px 0 22px 0;
    line-height: 1.6;
}

h3 {
    .knockout-header();
    color: #333;
    font-size: 12px;
    line-height: 1.2;
    margin: 0 0 15px 0;
    padding-top: 0;
}

.nowrap { white-space: nowrap; }

.footnotes {
    margin-bottom: 20px;

    h4 {
        margin: 2px 0 7px 0;
        color: #666;
        font-size: 11px;
    }
}

.footnotes p,
.footer p {
    margin: 2px 0 0 0;
    font-size: 11px;
    line-height: 1.7;
    color: #999;
}

.footer p { font-style: italic; }
.footer p em { font-style: normal; }
.footnotes p strong { color: #666; }

a, a:link, a:visited {
    color: #4774CC;
    text-decoration: none;
}

a:hover, a:active { color: #bccae5; }

/*
 * Standard graphic styles
 */
.graphic-wrapper {
    position: relative;
}

.graphic {
    .clearfix();
    margin-bottom: 22px;
    position: relative;

    img {
        max-width: 100%;
        height: auto;
    }
}

.key {
    margin: -11px 0 33px 0;
    padding: 0;
    list-style-type: none;

    .key-item {
        display: inline-block;
        margin: 0 18px 0 0;
        padding: 0;
        line-height: 15px;

        b {
            display: inline-block;
            width: 15px;
            height: 15px;
            margin-right: 6px;
            float: left;
        }

        label {
            white-space: nowrap;
            font-size: 12px;
            color: #666;
            font-weight: normal;
            -webkit-font-smoothing: antialiased;
        }
    }
}

svg { overflow: hidden; }

.axis {
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
    fill: #999;

    path,
    line {
        fill: none;
        stroke: #ccc;
        shape-rendering: crispEdges;
    }

    &.y {
        path { display: none; }
        .tick line { display: none; }
    }
}

.grid {
    path { display: none; }

    .tick {
        stroke: #eee;
        stroke-width: 1px;
        shape-rendering: crispEdges;
    }

    &.y {
        g:first-child line { display: none; }
    }
}

.zero-line  {
    stroke: #666;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

line,
rect {
    shape-rendering: crispEdges;
}

.bars rect { fill: @teal3; }

.labels {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: none;

    li {
        position: absolute;
        text-align: right;
        font-size: 12px;
        line-height: 1.3;
        color: #666;
        display: table;
        -webkit-font-smoothing: antialiased;

        span {
            display: table-cell;
            vertical-align: middle;
        }
    }
}

.value text {
    font-size: 10px;
    -webkit-font-smoothing: antialiased;

    &.in { fill: #fff; }
    &.out { fill: #999; }
}

/*
 * HOMEPAGE
 * styles for when a project is embedded on the homepage
 * (if someone clicked the "This code will be embedded on the NPR homepage."
 * checkbox when pulling the embed code.)
 */
body.hp {
    padding-top: 0;
    padding-bottom: 10px;
}

/*
 * CHILDLINK
 * Direct links to the child page (iOS app workaround link)
 */
body.childlink {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}


/*
 * redefine mobile media queries
 */
@screen-mobile-above: ~"screen and (min-width: 551px)";
@screen-mobile: ~"screen and (max-width: 550px)";

/*
 * Base table styles
 */
table {
    border-collapse: collapse;
    padding: 0;
    width: 100%;
    font-size: 12px;
    color: #666;

    tr.shadedrow {
        background-color: #f1f1f1;
        color: #333;
        font-weight: bold;
    }

    th {
        .knockout-header();
        line-height: 1.2;
        text-align: left;
        vertical-align: bottom;
    }

    td {
        vertical-align: top;

        &.issue {
            span {
                -webkit-font-smoothing: antialiased;
                color: #999;

                &.yes   {
                    color: @teal3;
                    font-weight: bold;
                }
                &.no    {
                    color: @orange3;
                    font-weight: bold;
                }
            }

            a span {
                padding-bottom: 1px;
                border-bottom: 1px solid #ddd;

                &:hover { opacity: 0.7; }
            }

            sup {
                line-height: 0;
                color: #aaa;
            }
        }
    }
}

/*
 * larger-screen styles
 */
@media @screen-medium-above {
    .name { white-space: nowrap; }
}

/*
 * larger-than-small-screen styles
 */
@media @screen-mobile-above {
    table {
        th, td {
            padding: 10px;
            width: 14%;

            // comment these two out if you want to highlight particular rows
            &:first-child { padding-left: 0; }
            &:last-child { padding-right: 0; }

            &.amt { text-align: right; }
            &.issue { text-align: center; }
        }

        th {
            border-bottom: 2px solid #eee;
            padding-top: 0;
        }

        td { border-bottom: 1px solid #eee; }
    }
}

/*
 * small-screen styles
 */
@media @screen-mobile {
    tbody {
        display: block;
        width: 100%;
    }

    table {
        thead { display: none; }

        tr, th, td {
            display: block;
            padding: 0;
            white-space: normal;
        }

        tr {
            border-bottom: 1px solid #eee;
            padding: 10px 0;

            &:first-child { border-top: 1px solid #eee; }
        }

        td {
            margin-bottom: 6px;

            &:empty { display: none; }
        }

        tr td:first-child {
            .knockout-header();
            color: #333;
            font-size: 14px;
            margin-bottom: 6px;

            &:before {
                content: '';
                display: none;
            }
        }

        th[data-title]:before,
        td[data-title]:before {
            content: attr(data-title) ":\00A0";
            display: inline-block;
            margin-right: 10px;
            width: 70%;
        }
    }
}
