body {
    position: absolute;
    font-family: "Proxima Nova", "Montserrat", sans-serif;
}
h1, h2, h3 {
    position: absolute;
    left: 10px;
    font-size: 1.3em;
    font-weight: 100;
}
h2, h3 {
    top: 30px;
    font-size: 1em;
}
h3 {top: 50px;}

.hover {
    stroke-width: 4;
    stroke: #fb9404;
}
/* ADD CSS FOR #sliderContainer */
#sliderContainer {
    text-align: center;
    position: relative;
    top: 20px;
}



